body {
	background: grey;
}
.a {
	padding: 10px;
	background: grey;
}
img {
	background: white;
	width: 200px;
	height: 200px;
	cursor: pointer;
}
.img1 {
	width: 500px;
	height: 500px;
}
.com {
	background: lightblue;
}
.img {
	width: 500px;
	height: 500px;
}